footer{
	padding-top: 50px;
	font-size: 12px;
}


.selected{
	border: white solid 10px;
    background: red;
}

.hover:hover{
	opacity: 0.8;
	cursor: pointer;
	color: gray !important;
}




.hover-border:hover{
    border: gray solid 10px;
}


.fake-link{
    text-decoration: underline;
    cursor: pointer;
}

.large-text{
	font-size: 30px;
}

.nav{
	height: 35px;
	width: 100%;
	background: white;
	border-bottom: #607D8B solid 1px;
	margin-bottom: 1px;
}

body{
	background: #FAFAFA;
}

.gray{
	color: gray;
}


.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top30 { margin-top:30px; }
.top100 { margin-top:100px; }
.top200 { margin-top:200px; }

.left5 { margin-left: 5px; }
.left10 { margin-left: 10px; }

@-webkit-keyframes redFadeOut{
    0% {
      background-color: #F44336;
    }

    100% {
    	background-color: white;
    }
}


@keyframes redFadeOut{
    0% {
    	background-color: #F44336;
    }

    100% {
    	background-color: white;
    }
}



@-webkit-keyframes greenFadeOut{
    0% {
      background-color: $color-green;
    }

    100% {
    	background-color: white;
    }
}


@keyframes greenFadeOut{
    0% {
    	background-color: $color-green;
    }

    100% {
    	background-color: white;
    }
}



.success{
    -webkit-animation: greenFadeOut 1.5s 1 linear;
    animation: greenFadeOut 1.5s 1 linear;
}

.failure{
    -webkit-animation: redFadeOut 1.5s 1 linear;
    animation: redFadeOut 1.5s 1 linear;
}


.relative{
    position: relative;
    display: block;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.absolute{
    position: absolute !important;
    display: block;
    height: 100%;
    width: 100%;
    border: blue solid 1px;
    top: 0px;
    left: 0px;
}


.rotate45{
    -webkit-transform: rotate(-45deg);
    /* Firefox */
    -moz-transform: rotate(-45deg);

    /* IE */
    -ms-transform: rotate(-45deg);

    /* Opera */
    -o-transform: rotate(-45deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}